services:
  backflip_{% for port in ports %}:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: backflip_{{ port }}
    hostname: backflip_{{ port }}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PUBLIC_KEY_DIR=/etc/ssh/pubkeys #optional
      - SUDO_ACCESS=false #optional
      - PASSWORD_ACCESS=false #optional
      - USER_NAME={{ ssh_user }} #optional
      - LOG_STDOUT=false #optional
    volumes:
      - /opt/backflips/etc/ssh/ssh_host_rsa_key_{{ item }}:/etc/ssh/ssh_host_rsa_key
      - /opt/backflips/etc/ssh/ssh_host_ed25519_key_{{ item }}:/etc/ssh/ssh_host_ed25519_key
      - /opt/backflips/etc/ssh/ssh_host_rsa_key_{{ item }}.pub:/etc/ssh/pubkey/sssh_host_rsa_key.pub
      - /opt/backflips/etc/ssh/ssh_host_ed25519_key_{{ item }}.pub:/etc/ssh/pubkeys/ssh_host_ed25519_key.pub
      - /opt/backflips/etc/ssh/sshd_config_{{ item }}:/config
    ports:
      - {{ port }}:22
    restart: unless-stopped