services:
  {% for domain in domain_names %}{% set stripped_domain = domain.split('.')[0] | trim %}backflip_{{ stripped_domain }}:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: backflip_{{ stripped_domain }}
    hostname: backflip_{{ stripped_domain }}
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - PUBLIC_KEY_DIR=/config/authorized_keys
      - USER_NAME={{ ssh_user }} #optional
      - LOG_STDOUT=true #optional
    volumes:
      - /opt/backflips/etc/ssh/{{ domain }}:/config
      - /opt/backflips/etc/ssh/config:/config/sshd/sshd_config
      - /opt/backflips/etc/authorized_keys/:/config/.ssh/
    expose:
      - "2222"
    networks:
      - {{ stripped_domain }}
    restart: unless-stopped
  {% endfor %}

  {% for domain in domain_names %}{% set stripped_domain = domain.split('.')[0] | trim %}autossh_{{ stripped_domain }}:
    build: .
    container_name: autossh_{{ stripped_domain }}
    hostname: autossh_{{ stripped_domain }}
    volumes:
      - /opt/ssh-proxy/keys/sketchkey:/config/sshd/sketchkey
    networks:
      - {{ stripped_domain }}
    tty: true
    restart: unless-stopped
    command: >
      autossh -N -M 0 -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval=30" -o "ServerAliveCountMax=3" -o "StrictHostKeyChecking=no" -o "UserKnownHostsFile=/dev/null" -R 2222:backflip_{{ stripped_domain }}:2222 -i /config/sshd/sketchkey -o "ProxyCommand=ssh -i /config/sshd/sketchkey -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null sketchssh@{{ middle_ip }} nc %h %p" sketchssh@{{ domain }}
      depends_on:
        - backflip_{{ stripped_domain }}
  {% endfor %}

networks:
  {% for domain in domain_names %}{% set stripped_domain = domain.split('.')[0] | trim %}{{ stripped_domain }}:
    driver: bridge
  {% endfor %}