services:
 {% for domain in domain_names %}{% set stripped_domain = domain.split('.')[0] | trim %}backflip_{{ stripped_domain }}:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: backflip_{{ stripped_domain }}
    hostname: backflip_{{ stripped_domain }}
    environment:
      - PUID=997
      - PGID=998
      - TZ=Etc/UTC
      - PUBLIC_KEY_DIR=/etc/ssh/pubkeys #optional
      - SUDO_ACCESS=false #optional
      - PASSWORD_ACCESS=false #optional
      - USER_NAME={{ ssh_user }} #optional
      - LOG_STDOUT=false #optional
    volumes:
      - /opt/backflips/etc/ssh/ssh_host_rsa_key_{{ stripped_domain }}:/etc/ssh/ssh_host_rsa_key
      - /opt/backflips/etc/ssh/ssh_host_ed25519_key_{{ stripped_domain }}:/etc/ssh/ssh_host_ed25519_key
      - /opt/backflips/etc/ssh/ssh_host_rsa_key_{{ stripped_domain }}.pub:/etc/ssh/pubkey/sssh_host_rsa_key.pub
      - /opt/backflips/etc/ssh/ssh_host_ed25519_key_{{ stripped_domain }}.pub:/etc/ssh/pubkeys/ssh_host_ed25519_key.pub
      - /opt/backflips/etc/ssh/sshd_config_{{ stripped_domain }}:/config/sshd_config
    expose:
      - "2223"
    restart: unless-stopped
  {% endfor %}

networks:
  webnet:
    driver: bridge