[Unit]
Description=nweb-agent

[Service]
Type=simple
WorkingDirectory=/opt/nweb/nweb-agent
ExecStart=/usr/bin/python3 nweb_agent.py

[Install]
WantedBy=multi-user.target
