# Copyright (c) 2022, Oracle and/or its affiliates.

[Unit]
Description=OpenBSD Secure Shell server backflips
After=network.target auditd.service
ConditionPathExists=!/etc/ssh/sshd_not_to_be_run

[Service]
InaccessiblePaths=/var/log /var/lib /var/cache /var/spool /var/backups
PrivateTmp=yes
PrivateDevices=yes
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
NoNewPrivileges=yes
User=flip
Group=flip

RuntimeDirectory=backflip-sshd
RuntimeDirectoryMode=0755

EnvironmentFile=-/etc/default/ssh
ExecStart=/usr/sbin/sshd -f /opt/backflips/etc/ssh/sshd_config -D $SSHD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=sshd-backflip.service
