---
- hosts: all
  become: yes
  roles:
    - common
    - molly-guard
    - logstash
    - yama
    - oci
    #- aws

- import_playbook: homebase.yml
- import_playbook: proxies.yml
- import_playbook: elk.yml
- import_playbook: users/users.yml

- import_playbook: playbooks/reboot.yml

