---
- name: Example task to create users and groups
  hosts: all
  become: yes
  tasks:
    - name: Add groups
      group:
        name: "{{ item }}"
        state: present
      with_items: [ "core", "redteam" ]

    - name: Allow group redteam to sudo
      copy:
        dest: /etc/sudoers.d/redteam
        owner: root
        mode: 0600
        content: |
          %redteam ALL=(ALL) NOPASSWD:ALL

    - name: Add hacker
      user:
        name: hacker
        uid: 6000
        group: redteam
        groups: core
        append: no
        password: '*'
        state: present
        shell: /bin/bash

    - name: Add hacker's public key
      authorized_key:
        user: hacker
        state: present
        exclusive: true
        key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"

